---
title: Observable - It's watching
---

.alert.alert-danger.hidden(role="alert")

.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand(href="/")
        =image_tag "glasses.png", :class => "glasses"
        Observable
      %a.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-main")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse#navbar-main
      %ul.nav.navbar-nav
        %li
          %a(href="https://github.com/distri/observable/blob/master/main.coffee.md") Documentation
        %li
          %a(href="https://github.com/distri/observable/wiki/Developer-Resources") Developer Resources
      %ul.nav.navbar-nav.navbar-right
        %li
          %a(href="https://github.com/distri/observable")
            %i.fa.fa-github
            GitHub
.container.page-content
  .page-header
    .row
      .col-lg-12
        .jumbotron
          %h1 Observable
          %p A simple library for keeping up to date with an object when it changes.
          %a.btn.btn-primary.btn-lg(href="https://github.com/distri/observable#installation") Learn more

%section.container
  %main
    .row
      .col-lg-12
        .page-header
          %h2 Simple, unobtrusive data synchronization
        %ul
          %li.lead Set up complex object dependencies once, then sit back and watch as they're automatically kept in sync.
          %li.lead Create functions that update when their underlying Observables change.
          %li.lead Based on simple JavaScript types. String, Array, Function, Number, and Boolean types are all supported.

.container
  .row
    .col-md-3.installation
      %h3 Installation
      .well.well-sm npm install o_0
      .well.well-sm bower install o_0#dist-v0.3.0
    .col-md-6
      %h3 Stay up to date with Observable
      = partial "chimp"
  %hr
%section.container.examples
  .example#message
    .container-fluid
      .page-header
        %h3 Example - Strings
        .explanation
      .row
        .col-md-6
          %h4
            %i.fa.fa-file-text-o
            Try it out -
            %span.subtitle Change the code to ask a different question
          .data
            %textarea.form-control(placeholder="Try out some Observable code")
        .col-md-6
          %h4 Output
          %pre.output
  .example#full-name
    .container-fluid
      .page-header
        %h3
          Example - Functions
        .explanation
      .row
        .col-md-6
          %h4
            %i.fa.fa-superscript
            Try it out -
            %span.subtitle Update the function to depend on a different Observable
          .data
            %textarea.form-control(placeholder="Try out some Observable code")
        .col-md-6
          %h4 Output
          %pre.output
  .example#arrays
    .container-fluid
      .page-header
        %h3
          Example - Arrays
        .explanation
      .row
        .col-md-6
          %h4
            %i.fa.fa-list-ol
            Try it out -
            %span.subtitle Write code to modify the array contents
          .data
            %textarea.form-control(placeholder="Try out some Observable code")
        .col-md-6
          %h4 Output
          %pre.output
#footer
  %nav.navbar-default.navbar-bottom
    .container
      .navbar-inner
        %ul.nav.navbar-nav.navbar-right
          %li
            %a(href="https://github.com/inductor-labs")
              = "#{Time.now.year} Inductor Labs"
              %span#logo
